<% content_for :breadcrumbs do %>
  <li><%= link_to "Your manuals", manuals_path %></li>
  <li><%= link_to manual.title, manual_path(manual) %></li>
  <li><%= link_to document.title, manual_document_path(manual, document) %></li>
  <li class='active'>Edit attachment</li>
<% end %>

<%= render(partial: "form", locals: {
  manual: manual,
  document: document,
  attachment: attachment,
}) %>
