<section class="app-view-summary__section app-view-summary__metadata-list govuk-!-margin-top-8">
  <%= render "govuk_publishing_components/components/heading", {
    text: "Metadata",
    heading_level: 2,
    font_size: "l",
    margin_bottom: 3,
  } %>

  <%= render "govuk_publishing_components/components/summary_list", items: metadata_items %>
</section>