<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Publish document</h3>
  </div>
  <div class="panel-body">
    <% if warning %>
      <strong>
        <%= warning.html_safe %>
      </strong>
    <% end %>
    <p <% if disabled %>class="remove-bottom-margin"<% end %>>
      <%= notification.html_safe %>
    </p>
    <% unless disabled %>
      <%= form_tag([:publish, document], method: :post) do %>
        <button name="submit" class="btn btn-danger" data-module="confirm" data-message="<%= strip_tags(notification.html_safe) %> Continue?">Publish</button>
      <% end %>
    <% end %>
  </div>
</div>
