<h2>Search</h2>
<%= form_for search, url: specialist_documents_path(document_type), method: :get do |f| %>
  <p>
    <%= f.text_field :term, {default_builder: true}, {placeholder: "Search term"} %>
    <p class="help-block">(case sensitive)</p>
  </p>
  <p>
    Search which field?
    <%= f.radio_button :attribute, "title", label: "Title" %>
    <%= f.radio_button :attribute, "slug", label: "Slug" %>
  </p>
  <button type="submit" class="btn btn-success">Search</button>
<% end %>
