<% content_for :breadcrumbs do %>
  <li><%= link_to "Your documents", specialist_documents_path(resource_name) %></li>
  <li><%= link_to document.title, specialist_document_path(document) %></li>
  <li class='active'>Edit document</li>
<% end %>

<h1 class="page-header">Edit document</h1>

<div class="row">
<%= render partial: "#{resource_name}/form", locals: { document: document } %>
</div>
