<h1 class="page-header">Your documents</h1>

<div class="row">
  <div class="sidebar col-md-3">
    <%= link_to "New document", new_specialist_document_path %>
  </div>
  <div class="col-md-9">
    <ul class="document-list">
      <% documents.each do |document| %>
        <li class="document">
          <%= link_to document.title, edit_specialist_document_path(document.id), class: 'document-title' %>
          <ul class="metadata">
            <li>updated 7 days ago</li>
            <li>draft</li>
            <li class="actions">
              <%= link_to 'edit', edit_specialist_document_path(document.id) %>
            </li>
          </ul>
        </li>
      <% end %>
    </ul>
  </div>
</div>
