<li class="document">
  <%= link_to document.title, document_path(current_format.admin_slug, content_id_and_locale: "#{document.content_id}:#{document.locale}"), class: 'document-title' %>
  <ul class="metadata">
    <% if document.last_edited_at %>
      <li class="text-muted last-edited-at">Updated <%= time_ago_in_words(document.last_edited_at) %> ago</li>
    <% end %>
    <li>
      <%= content_tag(:span, state_for_frontend(document), class: classes_for_frontend(document)) %>
    </li>
  </ul>
</li>
