<%= render partial: "manual_sections_attachments/breadcrumbs"%>

<h1 class="page-header">Edit attachment</h1>

<%= render(partial: "shared/attachments_form", locals: {
    attachment: @attachment,
    url: manual_section_attachment_path(@section.manual_content_id, @section.content_id, params[:attachment_content_id]),
    method: 'put'
}) %>


