<p class="govuk-body">
  Filters and its options help users find desired content on a specialist finder. These are selected by you for each specialist content item created in the Specialist Publisher. These are shown in the blue box on the documents and elsewhere.
</p>

<%= render "govuk_publishing_components/components/add_another", {
  fieldset_legend: "Filter",
  add_button_text: "Add another filter",
  items: schema.facets.each_with_index.map do  |facet, index|
    {
      fields: render(partial: "facet_fields", locals: { facet:, index: }),
      destroy_checkbox: render("govuk_publishing_components/components/checkboxes", { name: "facets[#{index}][_destroy]", items: [{label: "Delete", value: "1" }]})
    }
  end,
  empty: render(partial: "facet_fields", locals: { index: schema.facets.length }),
} %>
