<% content_for :breadcrumbs do %>
  <%= render "govuk_publishing_components/components/breadcrumbs", {
    collapse_on_mobile: true,
    breadcrumbs: [
      {
        title: "All finders",
        url: finders_path
      },
    ]
  } %>
<% end %>
<% content_for :page_title, "All finders" %>
<% content_for :title, "All finders" %>

<section id="finders-list-section">
  <%= render "govuk_publishing_components/components/document_list", {
    items: formats_user_can_access.sort_by(&:title).map do |format|
      {
        link: {
          text: format.title.pluralize,
          path: documents_path(format.admin_slug),
          description: format.description,
        }
      }
    end
  } %>
</section>
