<%= content_for :page_title, "Edit attachment" %>

<%= render partial: "attachments/legacy/breadcrumbs_legacy"%>

<h1 class="page-header">Edit attachment</h1>

<%= render(partial: "shared/legacy/attachments_form_legacy", locals: {
    attachment: @attachment,
    url: document_attachment_path(
        params[:document_type_slug],
        params[:document_content_id_and_locale],
        params[:attachment_content_id]
    ),
    method: 'put'
}) %>
