<% if object.errors.any? %>
  <div class="errors error-list">
    <h2>Please fix the following errors found in the form</h2>
    <ul class="errors">
      <% object.errors.each do |field, errors| %>
        <% if errors %>
          <li><%= field.to_s.humanize %> <%= [*errors].join(' and ')  %></li>
        <% end %>
      <% end %>
    </ul>
  </div>
<% end %>
