<div class="preview_button add-vertical-margins">
  <%= content_tag :div, nil, id: "attachment_data", data: attachments.to_json %>
  <a href="#preview-container" name="preview" id="preview-button" class="btn btn-primary">Preview</a>
</div>
<div id="preview-container" class="preview_container add-vertical-margins hide">
  <div class="preview">
    <div class="govspeak">

    </div>
  </div>
</div>