<h1 class="page-header"><%= document.title %>
  <ul class='document-slug'>
    <li title='<% if !document.published? %>When published this document will appear at this URL<% end %>'>
      <%= document.slug %>
    </li>
    <% if document.published? %>
      <li><%= link_to "View on website", public_url %></li>
    <% end %>
    <% if show_preview?(document) %>
      <li><%= link_to "Preview draft", content_preview_url(document) %></li>
    <% end %>
  </li>
</h1>
