<% content_for :breadcrumbs do %>
  <% if document.document_type == 'cma_case' %>
    <li><%= link_to "Your documents", cma_cases_path %></li>
    <li><%= link_to document.title, cma_case_path(document) %></li>
  <% elsif document.document_type == 'aaib_report' %>
    <li><%= link_to "Your documents", aaib_reports_path %></li>
    <li><%= link_to document.title, aaib_report_path(document) %></li>
  <% end %>
  <li class='active'>Edit attachment</li>
<% end %>
