<%= form_for([document, attachment]) do |f| %>
  <%= f.text_field :title, class: 'form-control input-md-8' %>
  <%= f.file_field :file %>
  <div class='actions'>
    <button type="submit" class='btn btn-success'>Save attachment</button>
  </div>
<% end %>
