<%= render partial: "attachments/breadcrumbs", locals: { document: document } %>

<h1 class="page-header">Add attachment</h1>

<%= render(partial: "attachments/form", locals: {
  document: document,
  attachment: attachment,
}) %>
