<% content_for :breadcrumbs do %>
  <li><%= link_to "Your documents", specialist_documents_path %></li>
  <li><%= link_to document.title, specialist_document_path(document) %></li>
  <li class='active'>Add attachment</li>
<% end %>

<h1 class="page-header">Add attachment</h1>

<%= render(partial: "form", locals: {
  document: document,
  attachment: attachment,
}) %>
