<% page_title = "Add attachment" %>
<%= content_for :page_title, page_title %>
<% content_for :context, @document.title %>
<% content_for :title, page_title %>
<% content_for :error_summary, render(ErrorSummaryComponent.new(object: @document)) %>

<% content_for :breadcrumbs do %>
  <%= render "govuk_publishing_components/components/breadcrumbs", {
    collapse_on_mobile: true,
    breadcrumbs: [
      {
        title: "Your documents",
        url: documents_path(current_format.admin_slug)
      },
      {
        title: @document.title,
        url: edit_document_path(params[:document_type_slug], @document.content_id)
      },
      {
        title: page_title
      }
    ]
  } %>
<% end %>

<div class="govuk-grid-row">
  <section class="govuk-grid-column-two-thirds">
    <%= render(partial: "shared/attachments_form", locals: {
        attachment: @attachment,
        url: document_attachments_path(params[:document_type_slug], params[:document_content_id_and_locale]),
        method: 'post'
    }) %>
  </section>
</div>