<%= content_for :page_title, "Add attachment" %>

<%= render partial: "attachments/breadcrumbs" %>

<h1 class="page-header">Add attachment</h1>

<%= render(partial: "shared/attachments_form", locals: {
    attachment: @attachment,
    url: document_attachments_path(params[:document_type_slug], params[:document_content_id_and_locale]),
    method: 'post'
}) %>
