<li class="document">
  <%= link_to document.title, document_path(current_format.slug, document.content_id), class: 'document-title' %>
  <ul class="metadata">
    <li class="text-muted">Updated <%= time_ago_in_words(document.last_edited_at) %> ago</li>
    <li>
      <%= state_for_frontend(document) %>
    </li>
  </ul>
</li>
