<%= render "govuk_publishing_components/components/heading", {
  text: "Sorry, you don't have permission to access this application",
  heading_level: 1,
	font_size: "xl",
	margin_bottom: 6,
} %>

<p class="govuk-body">Please contact your main GDS contact if you need access.</p>
