<% content_for :breadcrumbs do %>
  <li><%= link_to "Your documents", aaib_reports_path %></li>
  <li class='active'>New document</li>
<% end %>

<h1 class="page-header">New document</h1>

<div class="row">
<%= render partial: 'form', locals: { document: document } %>
</div>
