<h1 class="page-header">Your manuals</h1>

<div class="row">
  <div class="sidebar col-md-3">
    <%= link_to "Create new manual", new_manual_path, class: 'btn btn-default' %>
  </div>

  <div class="col-md-9">
    <ul class="document-list">
      <% manuals.each do |manual| %>
        <li class="document">
          <%= link_to manual.title, manual_path(manual), class: 'document-title' %>
          - Last updated: <%= manual.updated_at.strftime('%e/%m/%y %R') %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
