<h1 class="page-header">Your manuals</h1>

<div class="row">
  <div class="sidebar col-md-3">
    <%= link_to "Create new manual", new_manual_path, class: 'btn btn-default' %>
  </div>

  <div class="col-md-9">
    <p>Hello, World! This could be a list!</p>
  </div>
</div>
