<table id="govuk-email-header" style="width: 100%; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; background: #0B0C0C;" bgcolor="#0B0C0C">
  <tr>
    <td style="border-collapse: collapse; padding: 0 0 0 15px;">
      <table id="masthead" style="max-width: 580px; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt;">
        <tr>
          <td style="border-collapse: collapse; padding: 0;">
            <img src="https://public.govdelivery.com/attachments/fancy_images/UKGOVUK/2014/12/405383/govuk-logotype-email_large.jpg?3.21.0-d6df708-E2" alt="GOV.UK" style="outline: none; text-decoration: none; display: block; -ms-interpolation-mode: bicubic;" />
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
