<table id="govuk-email-footer" style="max-width: 580px; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt;">
  <tr>
    <td style="border-collapse: collapse; padding: 0 0 0 15px;">
      <ul class="actions" style="color: #0B0C0C !important; font-family: sans-serif; font-size: 16px; line-height: 1.25; margin: 40px 0 30px; padding: 0;">
        <li style="margin: 0 0 10px; padding: 0; list-style: none;">
          <a href="[[SUBSCRIBER_PREFERENCES_URL]]" style="color: #005EA5 !important;">
            Manage your GOV.UK email preferences including unsubscribing
          </a>
        </li>

        <li style="margin: 0 0 10px; padding: 0; list-style: none;">
          Provided by
          <a href="https://www.gov.uk" style="color: #005EA5 !important;">GOV.UK</a>
        </li>

        <li style="margin: 0 0 10px; padding: 0; list-style: none;">
          This email was sent to [[EMAIL_ADDRESS]]
        </li>
      </ul>
    </td>
  </tr>
</table>
