.document-list {
  margin: 0;
  margin-bottom: $gutter;
  padding: 0;
  list-style: none;
  clear: both;

  li:first-child {
    padding-top: 0;
  }

  .document {
    border-bottom: 1px solid $grey-2;
    padding: $gutter-one-third 0;
  }
  .document-title {
    @include core-19;
    display: block;
  }
  .metadata {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      display: inline-block;
      min-width: 300px;
    }
  }
}
