.document-list,
.documents {
  margin: 0;
  padding: 0;
  list-style: none;

  td:first-child,
  th:first-child {
    padding-left:0
  }

  .document {
    border-bottom: 1px solid #999;
    padding: 10px 0;
  }
  .document-title {
    font-size: 19px;
    display: block;
  }
  .metadata {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      display: inline-block;
      min-width: 200px;
    }

    li.actions a {
      padding-right: $gutter-half;
    }

    .published {
      font-weight: bold;
    }
  }
}
