.metadata-list {
  width:100%;

  dt {
    float: left;
    clear: both;
    width:30%;
  }
  dd {
    float: right;
    width:70%;
  }
}

.body-pre {
  max-height: 500px;
  overflow: scroll;
  word-break: break-word;
}
