@import "colours";
@import "typography";
@import "measurements";

$elements-red: #b10e1e;

.elements-error-summary {
  border: 5px solid $elements-red;
  padding: 15px;
  color: $elements-red;
  font-weight: bold;

  h4 {
    margin-top: 0;
    color: $black;
  }
}

form {
  .select2 {
    width: 100%;
  }

  .dropdown-select-all,
  .dropdown-clear-all {
    margin-top: 10px;
    margin-right: 10px;
  }

  .short-textarea {
    height: 50px;
  }

  .elements-error {
    border-left: 5px solid $elements-red;
    padding-left: 15px;

    label {
      color: $black;
    }

    .elements-error-message {
      color: $elements-red;
      font-weight: bold;
    }

    input,
    textarea {
      border-width: 2px;
      border-radius: 0;
      border-color: $elements-red;
    }
  }

  .error-list {
    h2 {
      font-weight: bold;
      font-size: 16px;
      margin: 0;
      padding: 3px 0 2px;
    }
    margin-bottom: 25px;
  }

  .errors {
    list-style: none;
    display: block;
    margin-left: -15px;
    padding-left: 11px;
    border-left: 4px solid $mellow-red;

    .error {
      color: $mellow-red;
    }

    li {
      padding-top: 3px;
      padding-bottom: 2px;
    }
  }

  .field_with_errors {
    display: inline;
  }

  .preview {
    border: 1px solid $border-colour;
    padding: $gutter-half;
    margin: 20px 0 0;

    .visuallyhidden {
      position: absolute;
      left: -9999em;
    }
  }

  .actions {
    margin: 20px 0;
  }

  .checkbox {
    margin: 0;
  }
}

.summary-length-info {
  text-align: right;

  &.warning {
    color: #c09853;
  }

  .count {
    font-weight: bold;
  }
}

h2.with-actions { // stylelint-disable-line selector-no-qualifying-type
  width: 50%;
  float: left;
}

.title-actions {
  width: 50%;
  margin: 30px 0 10px;
  padding: 0;
  float: right;

  li {
    display: inline;
    padding: 0 0 0 1em;
    float: right;
  }
}

.actions {
  border-top: 1px solid #eeeeee;
  padding-top: $gutter;
  margin-top: $gutter;
  max-width: 600px;

  form {
    display: inline-block;
    margin-right: $gutter-one-third;
  }

  .panel {
    margin-bottom: 32px;
  }
}

.date-layout .row .col-md-2 {
  font-weight: normal;
}

.date-layout .form-hint {
  color: #80858a;
}
// Two digit date form inputs are formatted 03 rather than 3. Using the spin buttons displayed single digit numbers (aka 3 rather than 03) which could be confusing to a user. The code below removes the spin buttons.
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
