form {

  .select2-container {
    width: 100%;
  }

  .short-textarea {
    height: 50px;
  }

  .error-list {
    h2 {
      font-weight: bold;
      font-size: 16px;
      margin: 0;
      padding: 3px 0 2px;
    }
    margin-bottom: 25px;
  }

  .errors {
    list-style: none;
    display: block;
    margin-left: -15px;
    padding-left: 11px;
    border-left: 4px solid $mellow-red;

    .error {
      color: $mellow-red;
    }
    li {
      padding-top: 3px;
      padding-bottom: 2px;
    }
  }

  .preview {
    border: 1px solid $border-colour;
    padding: $gutter-half;
    margin: 20px 0 0 0;

    .visuallyhidden {
      position: absolute;
      left: -9999em;
    }
  }

  .actions {
    margin: 20px 0;
  }
}

.summary-length-info {
  text-align: right;
  &.warning {
    color: #C09853;
  }
  .count {
    font-weight: bold;
  }
}

h2.with-actions {
  width: 50%;
  float: left;
}

.title-actions {
  width: 50%;
  margin: 30px 0 10px;
  padding: 0;
  float: right;

  li {
    display: inline;
    padding: 0 0em 0 1em;
    float: right;
  }
}

.actions {
  border-top: 1px solid #eeeeee;
  padding-top:$gutter;
  margin-top: $gutter;
  max-width: 600px;

  form {
    display: inline-block;
    margin-right:$gutter-one-third;
  }

  .panel {
    margin-bottom: 32px;
  }
}
