form {
  margin-bottom: 60px;

  label {
    display: block;
  }
  input, textarea {
    width: 100%;
  }
  .short-textarea {
    height: 50px;
  }

  .error-list {
    h2 {
      font-weight: bold;
      font-size: 16px;
      margin: 0;
      padding: 3px 0 2px;
    }
    margin-bottom: 25px;
  }

  .errors {
    list-style: none;
    display: block;
    margin-left: -15px;
    padding-left: 11px;
    border-left: 4px solid $mellow-red;

    .error {
      color: $mellow-red;
    }
    li {
      padding-top: 3px;
      padding-bottom: 2px;
    }
  }
}

