.page-header {
  border-bottom: 1px solid $grey-3;
  padding-bottom: $gutter-half;
  margin-bottom: $gutter;

  span.document-slug {
    display:block;
    color: $grey-1;
    @include core-19;
  }

  small {
    color: $grey-1;
  }
}
