@import "govuk_admin_template";

.page-header {
  border-bottom: none;

  .document-slug {
    color: $gray;
    font-size: $font-size-large;
    display: block;
    margin-top: 5px;
    font-weight: normal;
    padding: 0;
  }

  .document-slug li {
    display: inline;
    list-style: none;
  }

  .document-slug li + li::before {
    content: "– ";
  }
}
