// Dependency declarations
//
// These are only needed to ensure automatic reloading in dev mode. This
// should happen automatically using the @import statements. The fact that it
// doesn't is probably a bug in the version of rails or sprockets that we're
// using. This bug was supposedly fixed some time ago[1], but still seeing it.
//
// [1] https://github.com/rails/rails/issues/3686
//
//= depend_on _document-list
//= depend_on _forms
//= depend_on _govspeak
//= depend_on _govspeak-help
//= depend_on _navbar

// govuk_admin_template
@import "govuk_admin_template";

// govuk_frontend_toolkit
@import "colours";
@import "typography";
@import "measurements";
@import "css3";

// app styles
@import "document-list";
@import "forms";
@import "govspeak";
@import "govspeak-help";
@import "navbar";
@import "header";

p.no-content-message {
  @include core-19;
  color: $grey-1;
}

.metadata-list {
  width:100%;

  dt {
    float: left;
    clear: left;
    width:30%;
  }
  dd {
    float: left;
    width:70%;
  }
}

.collapsable-heading a {
  color: inherit;
  small {
    color: $link-color;
  }
}
