<%= form_for([manual, document, attachment]) do |f| %>
  <%= f.text_field :title, class: 'form-control' %>
  <%= f.file_field :file %>
  <div class='actions'>
    <button type="submit" class="btn btn-success">Save attachment</button>
  </div>
<% end %>
