<% content_for :breadcrumbs do %>
  <li><%= link_to "Your manuals", manuals_path %></li>
  <li><%= link_to manual.title, manual_path(manual) %></li>
  <li><%= link_to document.title, manual_document_path(manual, document) %></li>
  <li class='active'>Edit section</li>
<% end %>

<h1 class="page-header">Edit section</h1>

<%= render partial: "form", locals: { document: document, manual: manual} %>
