<h3><%= link_to "&larr; #{manual.title}".html_safe, manual_path(manual) %></h3>

<div class="manual-header">
  <p>Document title</p>
  <h1 class="page-header">
    <%= document.title %>
  </h1>
  <div class="actions">
    <%= link_to("Edit Section", edit_manual_document_path(manual, document), class: 'btn btn-primary') %>
  </div>  
  <div class="clearfix"></div>
</div>

<div class="row">
  <div class="sidebar col-md-8">
    <p>Summary</p>
    <%= govspeak(manual.summary) %>
  </div>
</div>
